<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Improntus\PowerPay\Api\CallbackInterface" type="Improntus\PowerPay\Model\Api\Callback"/>
    <preference for="Improntus\PowerPay\Api\TransactionRepositoryInterface" type="Improntus\PowerPay\Model\TransactionRepository"/>
    <preference for="Improntus\PowerPay\Api\Data\TransactionInterface" type="Improntus\PowerPay\Model\Transaction"/>
    <preference for="Improntus\PowerPay\Api\Data\TransactionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="payment/powerpay/clientid" xsi:type="string">1</item>
                <item name="payment/powerpay/secret" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Powerpay" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Improntus\PowerPay\Model\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">PowerPayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">PowerPayValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PowerPayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="currency" xsi:type="string">Improntus\PowerPay\Gateway\Validator\CurrencyValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PowerPayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Improntus\PowerPay\Model\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="PowerPayLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">Improntus\PowerPay\Logger\Handler\CustomHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PowerPayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PowerPayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PowerPayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PowerPayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Improntus\PowerPay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">powerpay</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Improntus\PowerPay\Logger\Handler\CustomHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Improntus\PowerPay\Controller\Order\Create">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Improntus\PowerPay\Controller\Order\Response">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Improntus\PowerPay\Block\Onepage\Failure">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Improntus\PowerPay\Block\Onepage\Success">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

</config>
