<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" style="display:flex">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()">
        <div class="powerpay-payment-logo" data-bind="click: selectPaymentMethod">
            <img data-bind="click: selectPaymentMethod, attr: {alt: 'Powerpay Banner', src: getBanner()}" class="payment-banner-checkout" style="vertical-align: middle" width="160px" height="40px"/>
            <span style="margin-left:1rem ;"><strong>Compra ahora paga después. Desde 0% de interés.</strong></span>
        </div>
        <!--<label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>-->
    </div>
    <!--    <div style="margin-top: -2rem">-->
    <!--        <span>Paga después, a tu ritmo con la nueva forma de pago en cuotas Powerpay. Hoy solo pagarás la 1a cuota con tu tarjeta de crédito. Las demás cuotas de cargarán cada 30 días en la misma tarjeta que hayas afiliado.</span>-->
    <!--    </div>-->
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko if: getWidgets() -->
        <!-- ko if: getCheckoutWidget() -->
        <p></p>
        <div class="powerpay-widget" style="margin-bottom: 2rem">
            <mo-checkout
                data-bind="attr: {'product-price': getOrderTotal(), 'mo-client-id': getClientId()}"
            ></mo-checkout>
        </div>
        <!-- /ko -->
        <!-- /ko -->


        <div class="checkout-agreements-block"  data-bind="css: {'_active': (getCode() == isChecked())}">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
