<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="visible()">
    <text args="address().prefix"/> <text args="address().firstname"/> <text args="address().middlename"/>
    <text args="address().lastname"/> <text args="address().suffix"/><br/>
    <text args="_.values(address().street).join(', ')"/><br/>
    <text args="address().city "/>, <span text="address().region"></span> <text args="address().postcode"/><br/>
    <text args="getCountryName(address().countryId)"/><br/>
    <a if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a><br/>

    <!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
    	<!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
    		
    		<!-- ko if: element[attribute].value != null -->
                <!-- ko if: element[attribute].value != '' -->
                    <!-- ko text: element[attribute].value --><!-- /ko --> 
                <!-- /ko -->
                <!-- ko if: element[attribute].value == '' -->
                    <!-- ko text: '----' --><!-- /ko --> 
                <!-- /ko -->
            <!-- /ko -->
        	<br/>

    	<!-- /ko -->
    <!-- /ko -->
</if>
