<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="visanet_pay" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Niubiz</label>
                <comment>
                    <![CDATA[Para poder utilizar Niubiz, es necesario crear una cuenta <a target='_blank' href='https://www.niubiz.com.pe/?utm_source=google&utm_medium=cpc&utm_campaign=branding&utm_term=brand_niubiz&utm_content=text_ad_niubiz&gclid=CjwKCAjw_JuGBhBkEiwA1xmbRY_ZyQ2lyR8MZMdaEP0IdWTygYKnYt_KF04HuucD0A4-ze29nRtyKxoCDW8QAvD_BwE'>¡Click Aquí!</a>.]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
               
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Título</label>
                </field>              
                <group id="visanetConfiguracion" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label">
                    <label><![CDATA[Configuracion Niubiz]]></label>
                    <attribute type="expanded">1</attribute>
                    <field id="merchant_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant ID</label>
                    </field>
                    <field id="merchant_id_dollar" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant ID Dollar</label>
                    </field>
                    <field id="public_key" translate="label" type="obscure" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Usuario</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="private_key" translate="label" type="obscure" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Contraseña</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="store_title" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Título en el formulario</label>
                    </field>
                    <field id="store_desc" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Descripción en el formulario</label>
                    </field>
                    <!--creamos a custom image control para nuestro visanet logo (BackEnd_Model ) -->
                    <field id="upload_image" translate="label comment" type="image" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Subir Logo</label>
                        <backend_model>PechoSolutions\Visanet\Model\Config\Backend\Image</backend_model>
                        <base_url type="media" scope_info="1">image</base_url>
                    </field>
                    <!--Creacreamoste a custom Color pick  (https://meetanshi.com/blog/add-color-picker-in-magento-2-admin-configuration/) -->
                    <field id="formbuttoncolor" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Color de Boton</label>
                        <comment><![CDATA[Background color]]></comment>
                        <frontend_model>PechoSolutions\Visanet\Block\Color</frontend_model>
                    </field>
                    <field id="showamount" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Mostrar Cantidad</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <!-- Creamos a source de botones en nuestro modelo folder  -->
                    <field id="buttonsize" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Tamaño Boton</label>
                        <source_model>PechoSolutions\Visanet\Model\Source\Botones</source_model>
                    </field>
                     <field id="politicas_devolucion" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Políticas de devolución URL</label>
                    </field>
                    <field id="ip_client" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WebSite Ip</label>
                    </field>
                    <field id="terminos_condiciones" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Términos y Condiciones URL</label>
                    </field>
                </group>
              
             

<!--
                <field id="min_order_total" translate="label" type="text" sortOrder="98" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maximum Order Total</label>
                    <comment>Leave empty to disable limit</comment>
                </field>
-->
            </group>
        </section>
    </system>
</config>
